# Working with DataFrames

In [50]:
import hub
from hub.schema import Primitive
from tqdm import tqdm
from hub import Dataset, transform, schema
from time import time
import pandas as pd

In [51]:
# tabular data
df = pd.read_csv("ps4-madden21.csv")
df.head()

   Unnamed: 0           contest  winner  loser                     time
0           0  7995092012829590      64     61  2020-08-21 19:15:34.342
1           1  5179645355963421      54     59  2020-08-21 20:10:45.923
2           2  3186990526737690      64     59  2020-08-21 22:19:37.525
3           3  6369489012402744      70     62  2020-08-21 22:19:37.525
4           4  3091106470863898      71     62  2020-08-21 22:19:37.525

In [53]:
# i want to keep 'contest' column
my_schema = {
    "contest": Primitive(dtype="float32")  # Primitive handles numpy arrays
}

In [54]:
@transform(schema=my_schema)
def load_transform(sample):
    return {
        "contest": sample
    }

In [55]:
ds = load_transform((df['contest']))  # pass the dataframe column

In [56]:
start = time()

tag = "mynameisvinn/pandas"  # use your own tag/url
ds2 = ds.store(tag)

end = time()
print("elapsed time:", end - start)

Computing the transormation: 154k items [00:36, 4.23k items/s]

elapsed time: 39.528635025024414